div {
	display: inline-block;
}
textarea {
	height: 18px;
	width: 40px;
	vertical-align: middle;
	resize: horizontal;
}

div#testSelectionCont {
	display: none;
}
div#testSelectionContinueButton {
	display: none;
	padding: 5px;
	background-color: yellow;
}
div#startWholeTest1 {
	padding: 5px;
	background-color: yellow;
}
div#testExplanationCont {
	display: none;
}
div#testCont {
	display: none;
}

div.testSelectionAreaOption {
	text-align: center;
	padding: 0px 10px;
}
div.partExplanation {
	display: none;
}
div.testArea {
	display: none;
}
span.questionHiddenUntilStart {
	display: none;
}
div.questionCategoryStartButton {
	padding: 5px;
	background-color: yellow;
}
div.miniTest {
	display: none;
}