div {
	display: inline-block;
}

div#testSelectionCont {
	display: none;
}
div#testSelectionContinueButton {
	display: none;
	padding: 5px;
	background-color: yellow;
}
div#testExplanationCont {
	display: none;
}
div#testCont {
	display: none;
}

div.testSelectionAreaOption {
	text-align: center;
	padding: 0px 10px;
}